<form id='signup_form' action="/auth/signup" method="POST">
  <label>
    <input class='input_tile' placeholder='Enter email' type="text" name="email">
  </label>
  <label>
    <input class='input_tile' placeholder='Create user name' type="text" name="user_name">
  </label>
  <label>
      <input class='input_tile' placeholder='Create password' type="password" name="password">
  </label>
  <br><br>
  <input id='submit' type="submit" value="Sign Up">
</form>