<div class="new_comment">
	<form id="comment_form" action="/posts/<%=@post.id%>/comments/new" method="post">
		
		<textarea name="content" rows="6" cols="60" ></textarea>
		<input id="comment_submit" type="submit">
		
	</form>
</div>