#header_img {

	background-attachment: fixed, scroll;
}


#background_header {
	background-attachment: fixed, scroll;
	line-height: 1.4;
	background-size: cover;

	width: 75.4em;
}

#avatar {
	height: 10em;
	width: 10em;
	border-radius: 100%;
	margin-left: 33em;
	margin-top: -5em;
}

#posts {
	margin-left: 18em;
	max-width: 40em;
	margin-top: 3em;
}

#user_prof {
	font-family: 'Cutive', serif, 'Lekton', sans-serif;
	margin-left: 36.4em;
	margin-top: 2em;

}

.all_av {
	height: 4em;
	width: 4em;
	border-radius: 100%;
}

.user_name_list {
	font-family: 'Cutive', serif, 'Lekton', sans-serif;
}

.post_content {
	font-family: 'Cutive', serif, 'Lekton', sans-serif;
	margin-left: 18em;
}

}