    <p id='sign_up'><a href="/auth/signup"> Sign Up</a></p>

<div id='main'>

</div>

 <footer>
    <div id='footer'>
      <img class='social_media' src="/imgs/facebook_icon.gif">
      <img class='social_media' src="/imgs/github_icon.png">
      <img class='social_media' src="/imgs/google_icon.png">
      <img class='social_media' src="/imgs/insta_icon.png">
      <img class='social_media' src="/imgs/linkedin_icon.png">
      <img class='social_media' src="/imgs/twitter_icon.png">

    </div>
  </footer>