<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/normalize.css' type='text/css' /> 
  <link rel='stylesheet' href='/css/application.css' type='text/css' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title><%= @title || "Ello Clone" %></title>
</head>
<body>
  <header>
    <div id='header'>
      <img src="">
        <div id="header_words">
          <p> Manifesto About Store Privacy
          <% if session[:user_id] %>
            <a id="home" href='/users/home/<%=session[:user_id]%>'>Home  </a>
            <a href='/auth/logout' id='logout'> Logout</a>
          <% else %>
            <a href='/auth/login' id='login'> Login</a> 
          <% end %>
            </p>
        </div>
    </div>
    
  </header>
  
    <%= yield %>
</body>
</html>